.container {
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  align-items: center;
  justify-items: center;
}

.container > img > svg{
  grid-row-start: 1;
  grid-row-end: 2;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container svg {
  width: 4.5rem;
  height: 4.5rem;
}

.container svg:hover {
  fill: var(--black);
  cursor: pointer;
}

